.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow var(--transition-time);
    box-shadow: #ff00ff;
}

@media (width > 724px) {
    .header__container {
        margin-top: 50px;
    }
}

@media (width <= 724px) {
    .header__container {
        margin-top: 30px;
    }
}

/* @media (any-hover: hover) {
    .header__container:hover {
        box-shadow: var(--shadow-accent-glow), inset var(--shadow-accent-glow);
    }
} */